body{
    margin: 0px;
    text-align: center;
    font-family: 'merriweather' serif;
}

h1{
    
    margin: 100px auto 0 auto;
    font-family: "sacramento", cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 0.5;
}
h2{
    font-family:"Montserrat" sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;

}

h3{
    font-family: "Montserrat" sans-serif;
    color: #11999E;
    font-weight: bold;
    font-size: 1.5rem;
}

p{
    font-size: 1.5rem;
}

/*a{
    color: #11999E;
}
*/
.first{
    font-size: 200%;
}



.top-container{
    background-color: #E1FFEE;
    position: relative;
    padding: 100px;
    
}



.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.html-skill{
    width: 25%;
    float: left;
    margin-right:30px;
}

.css-skill{
    width: 25%;
    float: right;
    margin-right: 30px;
    
}

.top-cloud{
    position: absolute;
    right:400px;
    top: 50px;


}
.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 400px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container{
    background-color: #E1FFEE;
    margin-top:50px ;
    
    padding-bottom: 20px;

  }
.copyrights{
    color: black;

}
.footer-link{
    color: #11999e;
    line-height: 3;
    font-weight: bold;
    font-size: 1.5rem;
}
#a1{
    margin-right:20px;
}
#a2{
    margin-right: 20px;
}

hr{
    border-style: dotted none none none ;
    border-width: 15px;
    border-color: #8d9191;
    width: 5%;

}
a{
    text-decoration: none;
}

a:hover{
    color: gray;
}
  